@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #0D1B2A;
  --button-color: #2E68BE;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  background-color: rgba(243, 244, 246, 0.99);
  color: var(--main-color);
}

@layer components {
  .input-field {
    @apply rounded-lg bg-gray pl-4 py-2.5 border-[#D5D5D3];
  }

  .line {
    @apply border-t-2 border-dark-blue opacity-[.68];
  }
}